body{
    margin: 0px;
}

.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    align-items: center;
}

.title{
    border: 1px solid black;
    width: 10%;
    height: 100%;
    order: 0;
}

.menus{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 15%;
    text-align: center;
    align-items: center;
    order: 1;
}

.hjem {
    border: 1px solid black;
    width: 17%;
    height: 100%;
    order: 1;
}

.prosjekter{
    border: 1px solid black;
    width: 17%;
    height: 100%;
    order: 1;
}

.content{
    border: 1px solid black;
    width: 80%;
    height: 84%;
    order: 2;
}

.right_side{
    border: 1px solid black;
    width: 10%;
    height: 100%;
    order: 3;
    align-self: flex-end;
}